---
import Container from "../../components/Container.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Artists" class="layout">

  <Container class="container">
    <h2>Line-Up</h2>
    <p class="highlight">TBA</p>
  </Container>
  <Container class="container">
    <h2>Geschichte</h2>
    <ul>
      <a href="/artists/2023">
        <li>2023 - Womit alles begann</li>
      </a>
    </ul>
  </Container>
</Layout>

<style>
  a {
    text-decoration: none;
    color: inherit;
    list-style: none;
  }

  a:hover {
    color: var(--primary)
  }
  
</style>
<style is:global>
.layout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>