---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro"

---

<Layout title="Über uns">
    <Container> 
        <p>
            Die Idee für das Mett(4)all Festival entstand durch
            Benedikt Kremer, welcher im Sommer 2020 ein kleines
            Festival für sich, seine Freunde und seine Wacken Truppe
            über ein Wochenende im Garten abhielt, da durch Corona
            die Festival Saison gestorben war. Nach diesem Event
            saßen Benedikt Kremer, Christian Stiels und Dennis
            Opschroef bei Benedikt auf der Terrasse und er fragte
            die beiden, ob diese nicht Interesse hätten ein richtiges
            Festival zu organisieren. Schnell waren die Freunde von
            der Idee überzeugt und die Planungen begonnen. Zuerst
            wurde ein Sparbuch angelegt und ein weiterer Freund
            (Jan Linßen) konnte für die Idee gewonnen werden.
        </p>
        <p>
            Der Name für das Festival wurde nach kurzer Zeit gefunden,
            da der Freundeskreis sich einmal im Monat zum gemeinsamen
            Mett essen trifft und Metal die gemeinsame Musikrichtung
            der Freunde ist.
        </p>
        <p>
            Doch durch Corona und die Problematik eine geeignete Location
            zu finden verschob sich das Festival bis ins Jahr 2023.
        </p>
        <p>
            In dieser Zeit schlossen sich weitere Freunde dem Mett(4)all
            Team an und es wurde ein Verein gegründet der Mett(4)all e.V..
        </p>
        <p>
            Dieser widmet sich nun der Förderung von Kunst und Kultur
            im Bereich <strong>Metal/Rock/Punk/Alternative/Indie</strong> indem Junge
            Künstler gefördert werden und anderen diese Musikrichtungen
            nahe gebracht werden.
        </p>
    </Container>
</Layout>
<style>
    p {
        text-align: justify;
	}
    p:first-child {
        margin-top: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
    strong {
        color: var(--primary)
    }
</style>