---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro"

---

<Layout title="Artists">
    <div class="background">
        <Container>
            <div class="height">
                Comming soon...
            </div>
        </Container>
    </div>
</Layout>

<style>
    .background {

    }
    .height {
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>