---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro"

---

<Layout title="Artists">
    <Container>
        <div class="height">
            Comming soon...
        </div>
    </Container>
</Layout>

<style>
    .height {
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>