---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro"

---

<Layout title="Impressum">
    <Container>
        <p>
            Mett(4)all  e.V.<br />
            Kromsteg 40<br />
            47638 Straelen<br />
            Telefon: 01578 8535872<br />
            E-Mail: <a href="mailto:info@mett4all.de">info@mett4all.de</a><br />
            Web: <a href="https://www.mett4all.de">www.mett4all.de</a> 

        </p>
        <p>
            Anbieter dieser Internetpräsenz ist im Rechtssinne
            der Verein » Mett(4)all  e.V..«, Straelen
        </p>
        <p>
            Vereinsregister<br />
            Der Verein » Mett(4)all  e.V. – Straelen« ist im
            Vereinsregister des Amtsgerichts Kleve unter der
            Registernummer VR  eingetragen.
        </p>
        <p>
            Vertreter <br />
            Der Verein » Mett(4)all  e.V.. – Straelen « wird
            vertreten durch den Vereinsvorstand. Dieser wiederum
            wird vertreten durch den 1. Vorsitzenden Dennis
            Opschroef, Straelen, den 2. Vorsitzenden Benedikt
            Kremer, Straelen und dem Schatzmeister  Jan Linßen,
            Leverkusen.
        </p>
        <p>
            Wichtiger Hinweis zu Verweisen (Links)<br />
            Bei direkten oder indirekten Verweisen auf fremde
            Internetseiten (»Links«), die außerhalb des
            Verantwortungsbereiches des Autors liegen, würde
            eine Haftungsverpflichtung ausschließlich in dem
            Fall in Kraft treten, in dem der Autor von den
            Inhalten Kenntnis hat und es ihm technisch möglich
            und zumutbar wäre, die Nutzung im Falle rechtswidriger
            Inhalte zu verhindern. Der Autor erklärt daher
            ausdrücklich, dass zum Zeitpunkt der Linksetzung die
            entsprechenden verlinkten Seiten frei von illegalen
            Inhalten waren. Der Autor hat keinerlei Einfluß auf
            die aktuelle und zukünftige Gestaltung und auf die
            Inhalte der gelinkten / verknüpften Seiten. Deshalb
            distanziert er sich hiermit ausdrücklich von allen
            Inhalten aller gelinkten / verknüpften Seiten, die
            nach der Linksetzung verändert wurden. Diese
            Feststellung gilt für alle innerhalb des eigenen
            Internetangebotes gesetzten Links und Verweise sowie
            für Fremdeinträge in vom Autor eingerichteten
            Gästebüchern, Diskussionsforen und Mailinglisten.
            Für illegale, fehlerhafte oder unvollständige Inhalte
            und insbesondere für Schäden, die aus der Nutzung
            oder Nichtnutzung solcherart dargebotener Informationen
            entstehen, haftet allein der Anbieter der Seite, auf
            welche verwiesen wurde, nicht derjenige, der über
            Links auf die jeweilige Veröffentlichung lediglich verweist.
        </p>
    </Container>
</Layout>
<style>
    p {
        text-align: justify;
    }
    p:first-child {
        margin-top: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
</style>