---
import Container from "../components/Container.astro";
import { FacebookLink, InstagramLink } from "../constants";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Infos">
  <div class="main">
    <Container>
      <h2>Festival Infos</h2>
      <details>
        <summary>Datum / Location</summary>
        <div>
          Das Festival <span class="highlight">Mett(4)all</span> findet am <span
            class="highlight">23.09.2023</span
          > im <span class="highlight">Waldfreibad Walbeck</span> statt.
        </div>
      </details>
      <details>
        <summary>Anreise</summary>
        <div class="anreise">
          <section>
            <h4>Mit dem Auto</h4>
            <div>
              Am Freibad 24<br />
              47608 Geldern Walbeck<br />
              <p>
                Parkplätze sind vor Ort reichlich vorhanden. Wir bieten die
                Parkplätze kostenfrei an. Wir freuen uns aber über Spenden.
              </p>
              <dl>
                <dt>A40</dt>
                <dd>
                  Aus Richtung Ruhrgebiet kommend fahrt ihr am besten über die
                  Abfahrt 4 Straelen/ Wachtendonk. Von dort aus fahrt ca. 20 min
                  über die Landstraße zum Gelände.
                </dd>
                <dt>A57</dt>
                <dd>
                  Aus dem Kreis Kleve / Wesel fahrt ihr über die Abfahrt 3 Goch
                  über Weeze/Kevelaer (ca 30 min ab Goch)
                </dd>
                <dt>A61</dt>
                <dd>
                  Aus Richtung Viersen kommend fahrt ihr über die Abfahrt 2
                  Kaldenkirchen Richtung Straelen (ca. 30 min)
                </dd>
              </dl>
            </div>
          </section>
          <section>
            <h4>Mit dem Bus</h4>
            <div>
              Bushaltestelle Waldfreibad Geldern <br />
              Buslinie RUF 35 ab Geldern-Bahnhof <br />
              <p>
                Im Ortskern 47608 Geldern befindet sich ein Bahnhof, von dort
                aus gelangt ihr zum Veranstaltungsort Waldfreibad Walbeck (ca.
                30 min). Beachtet die Fahrpläne am Wochenende.
              </p>
            </div>
          </section>
        </div>
      </details>
      <details>
        <summary>Bezahlen</summary>
        <div>
          Die von uns angebotenen Speisen und Getränke können mit unseren
          Verzehrkarten bezahlt werden. Diese erhaltet ihr an der Kasse in
          verschiedenen Stückelungen. Nicht verbrauchtes Guthaben kann nicht
          ausgezahlt werden.
        </div>
      </details>
      <details>
        <summary>Altersbeschränkung</summary>
        <div>
          Das Festival ist für alle Personen ab 18. Jahren. Für Personen, ab 16.
          Jahren, sind die unten beschriebenen Auflagen zu erfüllen (siehe
          Jugendschutz).
        </div>
      </details>
      <details>
        <summary>Übernachtung / Camping</summary>
        <div>
          <p>
            Wenn eure Anreise zu weit ist oder ihr euch an ein paar kühlen
            hopfen&shy;haltigen Getränken erfreuen wollt, könnt ihr auch gerne
            bei uns übernachten. Der Zeltplatz ist vom <span class="highlight"
              >22.09.2023 17:00 Uhr</span
            > bis zum <span class="highlight">24.09.2023 13:00 Uhr</span>
            für euch geöffnet.
          </p>
          <section>
            <h4>Wohnmobile</h4>
            Wohnmobilplätze sind vor Ort verfügbar und können direkt dort gebucht
            werden. Preisliste könnt ihr
            <a href="https://neu.waldfreibad-walbeck.de/" target="_blank"
              >hier</a
            > einsehen.
          </section>
          <section>
            <h4>Zelten</h4>
            Es wird auch in Zeltplatz angeboten werden. Dafür wird ein Zustatzticket
            angeboten.
            <!-- TODO URL zur Ticketseite -->
            Für weitere Informationen zum Ticket schaut bitte bei den <a
              href="#">Tickets</a
            > vorbei.
          </section>
        </div>
      </details>
    </Container>
    <Container>
      <h2>Ticket Infos</h2>
      <details>
        <summary>Wie bekomme ich Tickets?</summary>
        <div>
          Am <strong>01.05.2023</strong> wird der Ticketverkauf gestartet und der
          Link dort hin freigeschaltet. Von unserer <a href="/">Startseite</a> gelangt
          ihr ganz einfach zum Ticketshop, wo ihr eurer Festivalticket bestellen
          könnt.
        </div>
      </details>
      <details>
        <summary>Festivalbändchen</summary>
        <div>
          Dein Festivalbändchen ist im Ticketpreis mit inbegriffen. Du erhälst
          es bei deiner Ankunft.
        </div>
      </details>
    </Container>
    <Container>
      <h2>FAQ</h2>
      <details>
        <summary>Drogen / Alkohol</summary>
        <div>
          Illegale Substanzen sind bei uns nicht erwünscht. Auch das Mitbringen
          von Alkohol ist untersagt. Wir bieten euch auf dem Festival
          ausreichend Getränke an.
        </div>
      </details>
      <details>
        <summary>Essen</summary>
        <div>
          Zu den rauen Mengen <span class="highlight">Mett</span>, bieten wir
          euch verschiedene andere Essens&shy;an&shy;ge&shy;bote an, wobei für
          jeden etwas dabei sein wird. Von Veganer, Vegetarier oder unseren
          lieblingen Omnivoren.
        </div>
      </details>
      <details>
        <summary>Geldautomaten</summary>
        <div>
          Aktuell stehen alle Geldautomaten in Walbeck wegen Sprengungen nicht
          zur Verfügung. Die Volksbank rüstet diese nach. Die
          Sparkassen&shy;automaten hingegen werden nicht erneuert. Die nächsten
          Geldautomaten sind in Geldern zu finden. Auf dem Festival können die
          Wertmarken jedoch auch mit Kartenzahlung erstanden werden.
        </div>
      </details>
      <details>
        <summary>Glasflaschen</summary>
        <div>
          Glasflaschen sind aus Sicherheitsgründen auf dem kompletten Gelände
          verboten. Bitte haltet euch daran.
        </div>
      </details>
      <details>
        <summary>Jugendschutz</summary>
        <div>
          Aus Jugendschutzgründen dürfen wir leider nur Gäste ab 18 Jahren auf
          das Gelände lassen (Ausweis mitbringen!). Ausnahme: ein
          Er&shy;ziehungs&shy;be&shy;recht&shy;igter oder eine sogenannte <i
            >„erziehungsbeauftragte Person“</i
          >
          ist dabei. Ein Nachweis (<a href="/muttizettel.pdf" target="_blank"
            >Jugendschutzformular</a
          >) ist erforderlich.
        </div>
      </details>
      <details>
        <summary>Rassismus</summary>
        <div>
          Rassismus, Sexismus und Extremismus in jedweder Form, wird bei uns
          nicht toleriert.
        </div>
      </details>
      <details>
        <summary>Security</summary>
        <div>
          Es ist ganz einfach: Seid nett zu ihnen, dann sind Sie nett zu Euch!
        </div>
      </details>
      <details>
        <summary>Toiletten</summary>
        <div>
          Diese sind auf dem Festivalgelände in ausreichender Anzahl vorhanden.
        </div>
      </details>
      <details>
        <summary>Waffen</summary>
        <div>
          Waffen sind <strong>nicht</strong> erlaubt. Lasst das Zeug bitte am besten
          gleich daheim!
        </div>
      </details>
      <details>
        <summary>Zigaretten</summary>
        <div>
          Die Raucher müssen sich ihre Kippen selber mitbringen, weil wir auf
          dem Gelände keine anbieten.
        </div>
      </details>
    </Container>
  </div>
</Layout>
<style>
  .main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  h2 {
    margin: 0;
    font-family: "Metal Mania", sans-serif;
  }
  h4 {
    margin: 0;
  }
  summary {
    transition: color 0.2s ease;
  }
  summary:hover {
    cursor: pointer;
    color: #e3b45c;
  }
  details > div {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }
  .anreise {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  a {
    text-decoration: none;
    color: var(--primary);
  }
  a:hover {
    text-decoration: underline;
  }
  @media screen and (max-width: 600px) {
    .anreise {
      grid-template-columns: 1fr;
    }
  }
</style>
