---
import Container from "../components/Container.astro";
import Accordion from "../components/Accordion.astro";
import Layout from "../layouts/Layout.astro";
import Anreise from "../components/Anreise.astro";
---

<Layout title="Infos">
  <div class="main">
    <Container>
      <h2>Festival Infos</h2>
      <Accordion title="Datum / Location">
        Das Festival <span class="highlight">Mett(4)all</span> findet am <span
          class="highlight">23.09.2023</span
        > im <span class="highlight">Waldfreibad Walbeck</span> statt.
      </Accordion>
      <Accordion title="Anreise">
        <Anreise />
      </Accordion>
      <Accordion title="Bezahlen">
        Die von uns angebotenen Speisen und Getränke können mit unseren
        Wertmarken bezahlt werden. Diese erhaltet ihr an der Kasse in
        verschiedenen Stückelungen.
      </Accordion>
      <Accordion title="Altersbeschränkung">
        Das Festival ist für alle Personen ab 18. Jahren. Für Personen, ab 16.
        Jahren, sind die unten beschriebenen Auflagen zu erfüllen (siehe
        Jugendschutz).
      </Accordion>
      <Accordion title="Übernachtung / Camping">
        <p>
          Wenn eure Anreise zu weit ist oder ihr euch an ein paar kühlen
          hopfen&shy;haltigen Getränken erfreuen wollt, könnt ihr auch gerne bei
          uns übernachten. Der Zeltplatz ist vom <span class="highlight"
            >22.09.2023 17:00 Uhr</span
          > bis zum <span class="highlight">24.09.2023 13:00 Uhr</span>
          für euch geöffnet.
        </p>
        <section>
          <h4>Wohnmobile</h4>
          Wohnmobilplätze sind vor Ort verfügbar und können direkt dort gebucht werden.
          Preisliste könnt ihr
          <a href="https://neu.waldfreibad-walbeck.de/" target="_blank">hier</a>
          einsehen.
        </section>
        <section>
          <h4>Zelten</h4>
          Es wird auch in Zeltplatz angeboten werden. Dafür wird ein Zustatzticket
          angeboten. Für weitere Informationen zum Ticket schaut bitte bei den <a
            href="https://mett4all.ticket.io/">Tickets</a
          > vorbei.
        </section>
      </Accordion>
    </Container>
    <Container>
      <h2>Ticket Infos</h2>
      <Accordion title="Wie bekomme ich Tickets?">
        Am <strong>01.05.2023</strong> wird der Ticketverkauf gestartet und der Link
        dort hin freigeschaltet. Von unserer <a href="/">Startseite</a> gelangt ihr
        ganz einfach zum Ticketshop, wo ihr eurer Festivalticket bestellen könnt.
      </Accordion>
      <Accordion title="Festivalbändchen">
        Dein Festivalbändchen ist im Ticketpreis mit inbegriffen. Du erhälst es
        bei deiner Ankunft.
      </Accordion>
    </Container>
    <Container>
      <h2>FAQ</h2>
      <Accordion title="Drogen / Alkohol">
        Illegale Substanzen sind bei uns nicht erwünscht. Auch das Mitbringen
        von Alkohol ist untersagt. Wir bieten euch auf dem Festival ausreichend
        Getränke an.
      </Accordion>
      <Accordion title="Essen">
        Zu den rauen Mengen <span class="highlight">Mett</span>, bieten wir euch
        verschiedene andere Essens&shy;an&shy;ge&shy;bote an, wobei für jeden
        etwas dabei sein wird. Von Veganer, Vegetarier oder unseren lieblingen
        Omnivoren.
      </Accordion>
      <Accordion title="Geldautomaten">
        Aktuell stehen alle Geldautomaten in Walbeck wegen Sprengungen nicht zur
        Verfügung. Die Volksbank rüstet diese nach. Die Sparkassen&shy;automaten
        hingegen werden nicht erneuert. Die nächsten Geldautomaten sind in
        Geldern zu finden. Auf dem Festival können die Wertmarken jedoch auch
        mit Kartenzahlung erstanden werden.
      </Accordion>
      <Accordion title="Glasflaschen">
        Glasflaschen sind aus Sicherheitsgründen auf dem kompletten Gelände
        verboten. Bitte haltet euch daran.
      </Accordion>
      <Accordion title="Jugendschutz">
        Aus Jugendschutzgründen dürfen wir leider nur Gäste ab 18 Jahren auf das
        Gelände lassen (Ausweis mitbringen!). Ausnahme: ein
        Er&shy;ziehungs&shy;be&shy;recht&shy;igter oder eine sogenannte <i
          >„erziehungsbeauftragte Person“</i
        >
        ist dabei. Ein Nachweis (<a href="/muttizettel.pdf" target="_blank"
          >Jugendschutzformular</a
        >) ist erforderlich.
      </Accordion>
      <Accordion title="Rassismus">
        Rassismus, Sexismus und Extremismus in jedweder Form, wird bei uns nicht
        toleriert.
      </Accordion>
      <Accordion title="Security">
        Es ist ganz einfach: Seid nett zu ihnen, dann sind Sie nett zu Euch!
      </Accordion>
      <Accordion title="Toiletten">
        Diese sind auf dem Festivalgelände in ausreichender Anzahl vorhanden.
      </Accordion>
      <Accordion title="Waffen">
        Waffen sind <strong>nicht</strong> erlaubt. Lasst das Zeug bitte am besten
        gleich daheim!
      </Accordion>
      <Accordion title="Zigaretten">
        Die Raucher müssen sich ihre Kippen selber mitbringen, weil wir auf dem
        Gelände keine anbieten.
      </Accordion>
    </Container>
  </div>
</Layout>
<style>
  .main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  h2 {
    margin: 0;
    font-family: "Metal Mania", sans-serif;
  }
  a {
    text-decoration: none;
    color: var(--primary);
  }
  a:hover {
    text-decoration: underline;
  }
</style>
