---
const { title } = Astro.props;
---

<details>
  <summary>
    {title}
  </summary>
  <div>
    <slot />
  </div>
</details>
<style>
  summary {
    transition: color 0.2s ease;
  }
  summary:hover {
    cursor: pointer;
    color: #e3b45c;
  }
  details > div {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }
</style>
