<div class="anreise">
  <section>
    <h4>Mit dem Auto</h4>
    <div>
      Am Freibad 24<br />
      47608 Geldern Walbeck<br />
      <p>
        Parkplätze sind vor Ort reichlich vorhanden. Wir bieten die Parkplätze
        kostenfrei an. Wir freuen uns aber über Spenden.
      </p>
      <dl>
        <dt>A40</dt>
        <dd>
          Aus Richtung Ruhrgebiet kommend fahrt ihr am besten über die Abfahrt 4
          Straelen/ Wachtendonk. Von dort aus fahrt ca. 20 min über die
          Landstraße zum Gelände.
        </dd>
        <dt>A57</dt>
        <dd>
          Aus dem Kreis Kleve / Wesel fahrt ihr über die Abfahrt 3 Goch über
          Weeze/Kevelaer (ca 30 min ab Goch)
        </dd>
        <dt>A61</dt>
        <dd>
          Aus Richtung Viersen kommend fahrt ihr über die Abfahrt 2
          Kaldenkirchen Richtung Straelen (ca. 30 min)
        </dd>
      </dl>
    </div>
  </section>
  <section>
    <h4>Mit dem Bus</h4>
    <div>
      Bushaltestelle Waldfreibad Geldern <br />
      Buslinie RUF 35 ab Geldern-Bahnhof <br />
      <p>
        Im Ortskern 47608 Geldern befindet sich ein Bahnhof, von dort aus
        gelangt ihr zum Veranstaltungsort Waldfreibad Walbeck (ca. 30 min).
        Beachtet die Fahrpläne am Wochenende.
      </p>
    </div>
  </section>
</div>
<style>
  .anreise {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  h4 {
    margin: 0;
  }
  @media screen and (max-width: 600px) {
    .anreise {
      grid-template-columns: 1fr;
    }
  }
</style>
