<footer class="flex flex-col items-center md:flex-row md:justify-around p-4 border-t border-orange-400 bg-black text-white">
    <a href="/impressum" class="border-b border-transparent hover:border-orange-400 hover:text-orange-400 transition-all">Impressum</a>
    <a href="/support" class="border-b border-transparent hover:border-orange-400 hover:text-orange-400 transition-all">Unterstützung</a>
    <a href="/partner" class="border-b border-transparent hover:border-orange-400 hover:text-orange-400 transition-all">Partner</a>
  </footer>