<!-- TODO replace with Logos -->
<div class="partners">
    <a href="https://neu.waldfreibad-walbeck.de" target="_blank">
        <img
            src="/images/Waldfreibad_Logo.png"
            alt="Logo Waldfreibad Walbeck"
            height="30"
        />
    </a>
</div>
<style>
    .partners {
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        margin: 1rem;
    }
    a {
        padding: 0.2rem 0.4rem;
        text-decoration: none;
        color: inherit;
        background-color: rgba(255, 255, 255, 0.5);
		border-radius: 0.25rem;
        border: transparent solid 1px;
        transition: border 0.3s ease
    }
</style>