<!-- TODO replace with Logos -->
<div class="partners">
    <a href="/">Sparkasse Geldern</a>
    <a href="/">Königpilsener</a>
    <a href="/">Borghs GmbH & Co KG</a>
</div>
<style>
    .partners {
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        margin: 1rem;
    }
    a {
        text-decoration: none;
        color: inherit;
        transition: color 0.2s ease;
    }
    a:hover {
        color: var(--primary);
    }
</style>