<!-- TODO replace with Logos -->
<div class="partners">
    <a href="https://www.veltins.com/" target="_blank">
        <img src="/images/sponsors/veltins.svg" alt="Logo Veltins" height="50"/>
    </a>
    <a href="https://neu.waldfreibad-walbeck.de" class="logo" target="_blank">
        <img
            src="/images/sponsors/Waldfreibad_Logo.png"
            alt="Logo Waldfreibad Walbeck"
            height="30"
        />
    </a>
    <a href="https://www.vb-niers.de/homepage.html" target="_blank">
        <img src="/images/sponsors/voba.jpg" alt="Logo Volksband an der Niers" height="50"/>
    </a>
</div>
<style>
    .partners {
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        margin: 1rem;
    }
    .logo {
        padding: 0.2rem 0.4rem;
        text-decoration: none;
        color: inherit;
        background-color: rgba(255, 255, 255, 0.5);
		border-radius: 0.25rem;
        border: transparent solid 1px;
        transition: border 0.3s ease;
        display: flex;
        align-items: center;
    }
</style>