---
import Partner from "./Partner.astro";
---

<div class="flex flex-row flex-wrap justify-evenly gap-4 my-4">
    <Partner src="/src/img/sponsors/veltins.svg" alt="Logo Veltins" height="50px" href="https://www.veltins.com/" />
    <Partner class="bg-white/60 p-1 rounded" src="/src/img/sponsors/Waldfreibad_Logo.png" alt="Logo Waldfreibad Walbeck" height="50" href="https://neu.waldfreibad-walbeck.de" />
    <Partner src="/src/img/sponsors/voba.jpg" alt="Logo Volksbank an der Niers" height="50" href="https://www.vb-niers.de/homepage.html" />
    <Partner src="/src/img/sponsors/tonmann.JPG" alt="Logo Tonmann" height="50" href="http://tonmann.de/" />
    <Partner class="bg-white/60 p-1 rounded" src="/src/img/sponsors/sts_schumacher.png" alt="Logo STS Schumacher" height="50" href="https://sts-finanzen.de/" />
</div>