---
import { FacebookLink, InstagramLink } from '../constants';

export interface Props {
    title?: string;
    isRoot?: boolean
}

const { title, isRoot = false } = Astro.props;
---
<nav class="navbar">
    <div class="logo">
        {!isRoot && <a href="/"><img  src="/images/Mett4All-Logo-Text.svg" height="50px" /></a>}
    </div>
    {title ? <h1 class="text-gradient">{title}</h1> : <img  src="/images/Mett4All-Logo-Text.svg" height="150px" />}
    <div class="socials">
        <a class="social_link" href={InstagramLink} target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a class="social_link" href={FacebookLink} target="_blank">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a class="social_link" href="https://open.spotify.com/playlist/6RdZQGdmmywnTkzLSNZfiD?si=S5CBR3dnRLKFakGN6i0zVQ" target="_blank">
            <i class="fa-brands fa-spotify"></i>
        </a>
    </div>
</nav>
<style>
    .navbar {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 0;
        justify-items: center;
    }
    .navbar > * {
        width: 100%;
    }
    .logo {
        margin-left: 1rem;
    }
    .socials {
        text-align: right;
        font-size: 1.5rem;
        display: flex;
        gap: 0.5rem;
        justify-content: flex-end;
        align-items: baseline;
        margin-top: 1rem;
        margin-right: 1rem;
    }
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		text-align: center;
        font-family: "Metal Mania";
	}
    .social_link {
        text-decoration: none;
        color: black;
        transition: color 0.2s ease;
    }
    a:hover {
        color: var(--primary);
    }
</style>