---
export interface Props {
    title?: string;
    enableSupport?: boolean
    isRoot?: boolean
}

const { title, enableSupport = false, isRoot = false } = Astro.props;
---
<nav class="navbar">
    <div class="logo">
        {!isRoot && <a href="/"><img  src="/Mett4All-Logo-Text.svg" height="50px" /></a>}
    </div>
    {title ? <h1 class="text-gradient">{title}</h1> : <img  src="/Mett4All-Logo-Text.svg" height="150px" />}
    <div class="socials">
        <!-- Socials with a super large text that could move the title to the left -->
    </div>
</nav>
<style>
    .navbar {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 0;
        justify-items: center;
        /* align-items: baseline; */
    }
    .navbar > * {
        width: 100%;
    }
    .socials {
        text-align: right;
    }
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		text-align: center;
	}
    a {
        text-decoration: none;
        color: inherit;
        transition: color 0.2s ease;
    }
    a:hover {
        color: var(--primary);
    }
</style>